.userAvatar{
    background-color: red;
    margin: 10px auto;
    height: 200px;
    width: 200px;
   
}



.changeImg{
    height: 64px;
    width: 62px;
    margin: auto;
    background: rgba(0, 0, 0, 0);
}